::-webkit-scrollbar {
	width: 0.1rem;
}

::-webkit-scrollbar-thumb {
	background-color: transparent; /* 스크롤바 썸 색상 */
}

::-webkit-scrollbar-track {
	background-color: transparent; /* 스크롤바 트랙 색상 */
}

.product {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	font-size: 0.52083333vw;

	& * {
		word-break: keep-all;
	}
	&-s1 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		background-image: url('/public/assets/images/product1.png');
		background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
		background-repeat: no-repeat;
		justify-content: center;
		align-items: center;
		&-text {
			color: #fff;
			text-align: center;
			font-family: Pretendard;
			font-size: 2.4em;
			font-style: normal;
			font-weight: 400;
			line-height: 1.416; /* 141.667% */
			margin-top: 1.1vw;
		}
	}
	&-s2 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;
		&-text {
			width: 24.74vw;
			color: #000;
			margin-top: 6.39vh;
			margin-bottom: 6.5625vw;
			text-align: center;

			/* 보조헤드 */
			font-family: Pretendard;
			font-size: 4em;
			font-style: normal;
			font-weight: 600;
			line-height: 1.25; /* 125% */
		}
		&-img {
			width: 43.28vw;
		}
	}
	&-s3 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		position: relative;
		opacity: 0.8;
		//background: linear-gradient(260deg, #000 11.02%, rgba(0, 0, 0, 0) 87.46%);
		background-image: url('/public/assets/images/product3.png');
		background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
		background-repeat: no-repeat;
		justify-content: center;
		//align-items: center;
		&-curtain {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.8;
			background: linear-gradient(260deg, #000 11.02%, rgba(0, 0, 0, 0) 87.46%);
		}
		&-text {
			z-index: 10;
			width: 30.88vw;
			margin-left: 18.75vw;
			&-header {
				margin-bottom: 1.875vw;
				color: var(--White, #fff);

				/* 보조헤드 */
				font-family: Pretendard;
				font-size: 4em;
				font-style: normal;
				font-weight: 600;
				line-height: 1.25; /* 125% */
			}
			&-body {
				color: var(--White, #fff);

				/* 본문 */
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.4166; /* 141.667% */
			}
		}
	}
	&-s4 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: row;
		position: relative;

		//justify-content: center;
		&-text {
			margin-top: 28.8vh;
			margin-left: 18.75vw;
			&-header {
				margin-bottom: 0.416vw;
				color: var(--Dark-Glay, #4d4f58);
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.66; /* 166.667% */
			}
			&-body {
				color: var(--Black, #000);
				width: 26.042vw;
				/* 주 헤드 */
				font-family: Pretendard;
				font-size: 5em;
				font-style: normal;
				font-weight: 600;
				line-height: 1.24; /* 124% */
			}
		}
		&-img {
			position: absolute;
			bottom: 0;
			right: 17.55vw;
			width: 40.4vw;
			height: 41.14vw;
		}
	}
	&-s5 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: center;
		align-items: center;
		&-text {
			width: 28.28vw;
			margin-right: 6.5625vw;
			height: fit-content;
			display: flex;
			flex-direction: column;
			&-cadai {
				margin-left: 2.97vw;
				margin-bottom: 0.625vw;
				color: var(--Middle-Glay, #a0a0a0);

				/* 카테고리 */
				font-family: Pretendard;
				font-size: 3em;
				font-style: normal;
				font-weight: 600;
				line-height: 1.33; /* 133.333% */
			}
			&-header {
				margin-left: 2.97vw;
				color: var(--Black, #000);

				/* 주 헤드 */
				font-family: Pretendard;
				font-size: 5em;
				font-style: normal;
				font-weight: 600;
				line-height: 1.24; /* 124% */
			}
			&-divider {
				margin-left: 2.97vw;
				margin-top: 1.25vw;
				height: 1px;
				background-color: #a0a0a0;
			}
			&-body {
				display: flex;
				flex-direction: column;
				height: fit-content;
				.solbox {
					width: 100%;
					height: 'fit-content';

					.problem {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						margin-top: 1.25vw;
						margin-bottom: 1.25vw;

						img {
							width: 1.667vw;
						}
						span {
							width: 25.3125vw;
							color: var(--Middle-Glay, #a0a0a0);

							/* 본문 강조 */
							font-family: Pretendard;
							font-size: 2.4em;
							font-style: normal;
							font-weight: 600;
							line-height: 1.333; /* 133.333% */
						}
					}
					.solution {
						color: var(--Check, #346ec5);
						margin-left: 2.97vw;

						//transition: height 0.3s ease-in-out;
						//height: 0;
						max-height: 0;
						//background-color: #4d4f58;
						/* 본문 */
						font-family: Pretendard;
						font-size: 2em;
						font-style: normal;
						font-weight: 400;
						line-height: 1.416; /* 141.667% */
						opacity: 0; /* 초기에 숨겨짐 */
						visibility: hidden; /* 초기에 숨겨짐 */
						//max-height: 0;
						overflow: hidden;
						transition: max-height 0.3s ease-in-out, opacity 0.3s ease-out 0.3s,
							// 사라지는거
							visibility 0.3s ease-out 0.3s;
						transition: opacity 0s ease-out, visibility 0s ease-out,
							max-height 0.3s ease-in-out;
					}
					&-active {
						@extend .solbox;
						.problem {
							span {
								color: #000;
							}
						}
						.solution {
							// d
							font-size: 2em;
							margin-top: 2.08vw;
							margin-bottom: 0.833vw;
							//height: 3.54vw;
							max-height: 2.9vw; /* 적절한 최대 높이 값	 설정 */
							opacity: 1; /* 나타남 */
							visibility: visible; /* 나타남 */
							transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in 0.3s,
								// 없었다 나타나는거
								visibility 0.3s ease-in 0.3s;

							//transition-delay: 0.3s;
						}
					}
					.divider {
						margin-left: 2.97vw;
						margin-top: 0vw;
						height: 1px;
						background-color: #a0a0a0;
					}
				}
			}
		}
		&-image {
			width: 30.625vw;
			height: 43.125vw;
			background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
			background-repeat: no-repeat;
			justify-content: center;
			align-items: center;
			// transition: 0.3s ease-in-out;
			// &-0 {
			// 	content: url('/public/assets/images/product5_1.png');
			// 	transition: 0.3s ease-in-out;
			// }
			// &-1 {
			// 	content: url('/public/assets/images/product5_2.png');
			// 	transition: 0.3s ease-in-out;
			// }
			// &-2 {
			// 	content: url('/public/assets/images/product5_3.png');
			// 	transition: 0.3s ease-in-out;
			// }
		}
	}
	&-s6 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: space-between;
		align-items: center;

		&-b {
			width: 36vw;
			height: 46.25vw;
			margin-top: 17.625vw;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-bottom: 0;
			margin-left: 0px;
			.b-descript {
				color: #000;

				/* 본문 */
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.416; /* 141.667% */
				text-align: left;
				width: 23vw;
			}
			.b-header {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-top: 1.51vw;
				margin-bottom: 0.845vw;
				img {
					width: 18.72vw;
				}
				span {
					color: #000;
					font-family: Pretendard;
					font-size: 5.5em;
					font-style: normal;
					font-weight: 800;
					line-height: 0.61; /* 60.909% */
				}
			}
			.b-image {
				align-self: flex-start;
				width: 36vw;
			}
		}
		&-t {
			width: 45.58vw;
			height: 45.83vw;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			margin-bottom: 0;
			margin-left: 0px;
			.t-image {
				align-self: flex-end;
				width: 45.58vw;
			}
			.t-header {
				align-self: flex-start;
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-left: 3vw;
				img {
					width: 18.72vw;
				}
				span {
					color: #000;
					font-family: Pretendard;
					font-size: 5.5em;
					font-style: normal;
					font-weight: 800;
					line-height: 0.61; /* 60.909% */
				}
			}
			.t-descript {
				align-self: baseline;
				margin-left: 3.6vw;
				margin-top: 1.2625vw;
				width: 27.31vw;
				color: #000;

				/* 본문 */
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.416; /* 141.667% */
			}
		}
	}
	&-s7 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: row;
		position: relative;

		align-items: center;
		//margin-bottom: 4.5vh;
		&-text {
			width: 26.66vw;
			display: flex;
			flex-direction: column;
			margin-left: 18.7vw;
			margin-bottom: 43.79vh;
			.s7-header {
				width: 26.66vw;
			}
			.s7-descript {
				width: 22vw;
				margin-top: 4.74vw;
				color: #000;

				/* 본문 */
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.4166; /* 141.667% */
			}
		}
		&-image {
			position: relative;
			width: 46.19vw;
			margin-left: 1.25vw;
			margin-bottom: 8.99vh;
			.s7-phone {
				position: absolute;
				width: 10.78vw;
				bottom: 1.354vw;
				left: -3.125vw;
			}
			.s7-com {
				width: 100%;
			}
		}
	}
	&-s8 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		position: relative;

		align-items: center;
		justify-content: center;
		.s8-header {
			color: var(--Middle-Glay, #a0a0a0);
			margin-bottom: 2.7vw;
			text-align: center;
			font-family: Pretendard;
			font-size: 4em;
			font-style: normal;
			font-weight: 600;
			line-height: 1; /* 100% */
		}
		.s8-body {
			width: 62.5vw;
			height: 31.35vw;
			display: flex;
			flex-direction: row;
			gap: 1.25vw;
			&-box1 {
				display: flex;
				width: 20vw;
				background-color: #bebebe;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				.s8box-logo {
					width: 7.81vw;
				}

				// &-logo3 {
				// 	width: 9.58vw;
				// }
				.s8box-text {
					font-size: 2em;
					font-weight: 00;
				}
				.s8box-chatai1 {
					width: 3.07vw;
					margin-right: 0.78vw;
				}

				.s8box-chatai2 {
					width: 12.29vw;
				}
			}
			&-box2 {
				@extend .s8-body-box1;
			}
			&-box3 {
				@extend .s8-body-box1;
				.s8box-logo {
					width: 9.58vw;
				}
				.s8box-chatai1 {
					width: 7.55vw;
				}
				.s8box-chatai2 {
					display: none;
				}
			}
			//background-color: #a0a0a0;
		}

		&-black {
			@extend .product-s8;
			background-color: black;
		}
	}
}
