@charset "UTF-8";
.scroll {
  overflow: hidden;
}

.Introduce::-webkit-scrollbar {
  width: 0rem; /* 스크롤바 너비를 최소로 줄임 */
}

.Jobs {
  height: 100vh;
  font-size: 0.5208333333vw;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.Jobs section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  padding-top: 52px;
  background-color: white;
  transition: all 0.5s ease-out;
}
.Jobs section article {
  position: relative;
  flex-basis: 62.5%;
  aspect-ratio: 1200/760;
}

.JobsMain {
  background-image: url("/public/assets/images/recruitment_main.png");
  background-size: cover;
  background-position: center center;
}
.JobsMain .Main .Title {
  margin-bottom: 2.4em;
}
.JobsMain .Main .Title label {
  color: #000;
  font-family: Pretendard;
  font-size: 5em;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
}
.JobsMain .Main .Description label {
  color: #000;
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 141.667%;
}

.JobsJob > img {
  width: 5.2em;
  height: 7.4em;
  margin: 2em;
  padding: 2em;
  z-index: 10;
}
.JobsJob > img:hover {
  cursor: pointer;
}
.JobsJob .Job {
  aspect-ratio: 1200/828;
}
.JobsJob .Job .TitleHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}
.JobsJob .Job .TitleHeader label {
  color: #000;
  font-family: Pretendard;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.JobsJob .Job .TitleHeader .ApplyButton {
  display: flex;
  width: 20em;
  height: 3em;
  padding: 0.2em 3em;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 0.4em;
  border: 0.1em solid var(--Dark-Glay, #4d4f58);
  background: var(--Dark-Glay, #4d4f58);
}
.JobsJob .Job .TitleHeader .ApplyButton:hover {
  cursor: pointer;
}
.JobsJob .Job .TitleHeader .ApplyButton :hover {
  cursor: pointer;
}
.JobsJob .Job .TitleHeader .ApplyButton label {
  color: var(--White, #fff);
  text-align: right;
  font-family: Pretendard;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.JobsJob .Job .TitleHeader .ApplyButton img {
  width: 1.4em;
  height: 1.4em;
}
.JobsJob .Job .TeamListCarousel {
  width: 120em;
  height: 72.8em;
}
.JobsJob .Job .TeamListCarousel .Carousel {
  display: flex;
  height: 100%;
}

.JobsJobCard {
  width: 38.4em;
  height: 72.8em;
  margin-right: 2.4em;
}
.JobsJobCard img {
  width: 38.4em;
  height: 60em;
}
.JobsJobCard .JobName {
  margin: 3em 0px;
}
.JobsJobCard .JobName label {
  color: #000;
  font-family: Pretendard;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%;
}
.JobsJobCard .GoDetails :hover {
  cursor: pointer;
}
.JobsJobCard .GoDetails label {
  padding-right: 1.2em;
  color: #000;
  font-family: Pretendard;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.JobsJobCard .GoDetails img {
  width: 1.4em;
  height: 1.4em;
}
.JobsJobCard.unactive {
  opacity: 0.3;
}

.JobsInternship {
  background-image: url("/public/assets/images/recruitment_internship.png");
  background-size: cover;
  background-position: center center;
}
.JobsInternship .Internship .Title {
  margin-bottom: 2.4em;
}
.JobsInternship .Internship .Title label {
  color: #000;
  font-family: Pretendard;
  font-size: 5em;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
}
.JobsInternship .Internship .Description {
  margin-bottom: 5em;
}
.JobsInternship .Internship .Description label {
  color: #000;
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 141.667%;
}
.JobsInternship .Internship .ApplyButton {
  display: flex;
  width: 20em;
  height: 3em;
  padding: 0.2em 3em;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 0.4em;
  border: 0.1em solid var(--Dark-Glay, #4d4f58);
  background: var(--Dark-Glay, #4d4f58);
}
.JobsInternship .Internship .ApplyButton:hover {
  cursor: pointer;
}
.JobsInternship .Internship .ApplyButton :hover {
  cursor: pointer;
}
.JobsInternship .Internship .ApplyButton label {
  color: var(--White, #fff);
  text-align: right;
  font-family: Pretendard;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.JobsInternship .Internship .ApplyButton img {
  width: 1.4em;
  height: 1.4em;
}/*# sourceMappingURL=jobs.css.map */