@charset "UTF-8";
.gnb {
  display: flex;
  z-index: 50;
  width: 100vw;
  height: 52px;
  background: rgba(60, 60, 60, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  flex-direction: row;
  position: fixed;
}
.gnb-logo {
  position: relative;
  width: 8.5vw;
  margin-left: 10.4vw;
}
.gnb-tabs1, .gnb-tabs2 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 52px;
  margin-left: 2.9vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gnb-tabs1 .tabs, .gnb-tabs2 .tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 2vw;
  height: 100%;
}
.gnb-tabs1 .tabs div, .gnb-tabs2 .tabs div {
  width: -moz-fit-content;
  width: fit-content;
  height: 28px;
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 175% */
  margin-right: 4px;
}
.gnb-tabs1 .tabs .popup1, .gnb-tabs2 .tabs .popup1, .gnb-tabs1 .tabs .popup1-active, .gnb-tabs2 .tabs .popup1-active,
.gnb-tabs1 .tabs .popup2-active,
.gnb-tabs2 .tabs .popup2-active,
.gnb-tabs1 .tabs .popup3-active,
.gnb-tabs2 .tabs .popup3-active,
.gnb-tabs1 .tabs .popup4-active,
.gnb-tabs2 .tabs .popup4-active,
.gnb-tabs1 .tabs .popup2,
.gnb-tabs2 .tabs .popup2,
.gnb-tabs1 .tabs .popup3,
.gnb-tabs2 .tabs .popup3,
.gnb-tabs1 .tabs .popup4,
.gnb-tabs2 .tabs .popup4 {
  position: absolute;
  width: 100vw;
  top: 52px;
  left: -21.8vw;
  color: black;
  background-color: white;
  opacity: 0; /* 초기에 숨겨짐 */
  visibility: hidden; /* 초기에 숨겨짐 */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* 트랜지션 적용 */
  display: flex;
  flex-direction: row;
  padding-left: 19.5vw;
  align-items: flex-start;
  height: 234px;
}
.gnb-tabs1 .tabs .popup1 .tab, .gnb-tabs2 .tabs .popup1 .tab, .gnb-tabs1 .tabs .popup1-active .tab, .gnb-tabs2 .tabs .popup1-active .tab,
.gnb-tabs1 .tabs .popup2-active .tab,
.gnb-tabs2 .tabs .popup2-active .tab,
.gnb-tabs1 .tabs .popup3-active .tab,
.gnb-tabs2 .tabs .popup3-active .tab,
.gnb-tabs1 .tabs .popup4-active .tab,
.gnb-tabs2 .tabs .popup4-active .tab,
.gnb-tabs1 .tabs .popup2 .tab,
.gnb-tabs2 .tabs .popup2 .tab,
.gnb-tabs1 .tabs .popup3 .tab,
.gnb-tabs2 .tabs .popup3 .tab,
.gnb-tabs1 .tabs .popup4 .tab,
.gnb-tabs2 .tabs .popup4 .tab {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  margin-top: 40px;
}
.gnb-tabs1 .tabs .popup1 .tab-text, .gnb-tabs2 .tabs .popup1 .tab-text, .gnb-tabs1 .tabs .popup1-active .tab-text, .gnb-tabs2 .tabs .popup1-active .tab-text,
.gnb-tabs1 .tabs .popup2-active .tab-text,
.gnb-tabs2 .tabs .popup2-active .tab-text,
.gnb-tabs1 .tabs .popup3-active .tab-text,
.gnb-tabs2 .tabs .popup3-active .tab-text,
.gnb-tabs1 .tabs .popup4-active .tab-text,
.gnb-tabs2 .tabs .popup4-active .tab-text,
.gnb-tabs1 .tabs .popup2 .tab-text,
.gnb-tabs2 .tabs .popup2 .tab-text,
.gnb-tabs1 .tabs .popup3 .tab-text,
.gnb-tabs2 .tabs .popup3 .tab-text,
.gnb-tabs1 .tabs .popup4 .tab-text,
.gnb-tabs2 .tabs .popup4 .tab-text {
  width: 148px;
  height: 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;
  gap: 12px;
}
.gnb-tabs1 .tabs .popup1 .tab-text:hover, .gnb-tabs2 .tabs .popup1 .tab-text:hover, .gnb-tabs1 .tabs .popup1-active .tab-text:hover, .gnb-tabs2 .tabs .popup1-active .tab-text:hover,
.gnb-tabs1 .tabs .popup2-active .tab-text:hover,
.gnb-tabs2 .tabs .popup2-active .tab-text:hover,
.gnb-tabs1 .tabs .popup3-active .tab-text:hover,
.gnb-tabs2 .tabs .popup3-active .tab-text:hover,
.gnb-tabs1 .tabs .popup4-active .tab-text:hover,
.gnb-tabs2 .tabs .popup4-active .tab-text:hover,
.gnb-tabs1 .tabs .popup2 .tab-text:hover,
.gnb-tabs2 .tabs .popup2 .tab-text:hover,
.gnb-tabs1 .tabs .popup3 .tab-text:hover,
.gnb-tabs2 .tabs .popup3 .tab-text:hover,
.gnb-tabs1 .tabs .popup4 .tab-text:hover,
.gnb-tabs2 .tabs .popup4 .tab-text:hover {
  text-decoration: none;
  cursor: alias;
}
.gnb-tabs1 .tabs .popup1 .tab-text-title, .gnb-tabs2 .tabs .popup1 .tab-text-title, .gnb-tabs1 .tabs .popup1-active .tab-text-title, .gnb-tabs2 .tabs .popup1-active .tab-text-title,
.gnb-tabs1 .tabs .popup2-active .tab-text-title,
.gnb-tabs2 .tabs .popup2-active .tab-text-title,
.gnb-tabs1 .tabs .popup3-active .tab-text-title,
.gnb-tabs2 .tabs .popup3-active .tab-text-title,
.gnb-tabs1 .tabs .popup4-active .tab-text-title,
.gnb-tabs2 .tabs .popup4-active .tab-text-title, .gnb-tabs1 .tabs .popup1 .tab-text-sub, .gnb-tabs2 .tabs .popup1 .tab-text-sub, .gnb-tabs1 .tabs .popup1-active .tab-text-sub, .gnb-tabs2 .tabs .popup1-active .tab-text-sub,
.gnb-tabs1 .tabs .popup2-active .tab-text-sub,
.gnb-tabs2 .tabs .popup2-active .tab-text-sub,
.gnb-tabs1 .tabs .popup3-active .tab-text-sub,
.gnb-tabs2 .tabs .popup3-active .tab-text-sub,
.gnb-tabs1 .tabs .popup4-active .tab-text-sub,
.gnb-tabs2 .tabs .popup4-active .tab-text-sub,
.gnb-tabs1 .tabs .popup2 .tab-text-title,
.gnb-tabs2 .tabs .popup2 .tab-text-title,
.gnb-tabs1 .tabs .popup2 .tab-text-sub,
.gnb-tabs2 .tabs .popup2 .tab-text-sub,
.gnb-tabs1 .tabs .popup3 .tab-text-title,
.gnb-tabs2 .tabs .popup3 .tab-text-title,
.gnb-tabs1 .tabs .popup3 .tab-text-sub,
.gnb-tabs2 .tabs .popup3 .tab-text-sub,
.gnb-tabs1 .tabs .popup4 .tab-text-title,
.gnb-tabs2 .tabs .popup4 .tab-text-title,
.gnb-tabs1 .tabs .popup4 .tab-text-sub,
.gnb-tabs2 .tabs .popup4 .tab-text-sub {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 140% */
  opacity: 0.3;
}
.gnb-tabs1 .tabs .popup1 .tab-text-sub, .gnb-tabs2 .tabs .popup1 .tab-text-sub, .gnb-tabs1 .tabs .popup1-active .tab-text-sub, .gnb-tabs2 .tabs .popup1-active .tab-text-sub,
.gnb-tabs1 .tabs .popup2-active .tab-text-sub,
.gnb-tabs2 .tabs .popup2-active .tab-text-sub,
.gnb-tabs1 .tabs .popup3-active .tab-text-sub,
.gnb-tabs2 .tabs .popup3-active .tab-text-sub,
.gnb-tabs1 .tabs .popup4-active .tab-text-sub,
.gnb-tabs2 .tabs .popup4-active .tab-text-sub,
.gnb-tabs1 .tabs .popup2 .tab-text-sub,
.gnb-tabs2 .tabs .popup2 .tab-text-sub,
.gnb-tabs1 .tabs .popup3 .tab-text-sub,
.gnb-tabs2 .tabs .popup3 .tab-text-sub,
.gnb-tabs1 .tabs .popup4 .tab-text-sub,
.gnb-tabs2 .tabs .popup4 .tab-text-sub {
  opacity: 1;
  font-size: 14px;
  height: -moz-fit-content;
  height: fit-content;
}
.gnb-tabs1 .tabs .popup1 .tab-text-sub:hover, .gnb-tabs2 .tabs .popup1 .tab-text-sub:hover, .gnb-tabs1 .tabs .popup1-active .tab-text-sub:hover, .gnb-tabs2 .tabs .popup1-active .tab-text-sub:hover,
.gnb-tabs1 .tabs .popup2-active .tab-text-sub:hover,
.gnb-tabs2 .tabs .popup2-active .tab-text-sub:hover,
.gnb-tabs1 .tabs .popup3-active .tab-text-sub:hover,
.gnb-tabs2 .tabs .popup3-active .tab-text-sub:hover,
.gnb-tabs1 .tabs .popup4-active .tab-text-sub:hover,
.gnb-tabs2 .tabs .popup4-active .tab-text-sub:hover,
.gnb-tabs1 .tabs .popup2 .tab-text-sub:hover,
.gnb-tabs2 .tabs .popup2 .tab-text-sub:hover,
.gnb-tabs1 .tabs .popup3 .tab-text-sub:hover,
.gnb-tabs2 .tabs .popup3 .tab-text-sub:hover,
.gnb-tabs1 .tabs .popup4 .tab-text-sub:hover,
.gnb-tabs2 .tabs .popup4 .tab-text-sub:hover {
  cursor: pointer;
  text-decoration: underline;
}
.gnb-tabs1 .tabs .popup1 .tab-divider, .gnb-tabs2 .tabs .popup1 .tab-divider, .gnb-tabs1 .tabs .popup1-active .tab-divider, .gnb-tabs2 .tabs .popup1-active .tab-divider,
.gnb-tabs1 .tabs .popup2-active .tab-divider,
.gnb-tabs2 .tabs .popup2-active .tab-divider,
.gnb-tabs1 .tabs .popup3-active .tab-divider,
.gnb-tabs2 .tabs .popup3-active .tab-divider,
.gnb-tabs1 .tabs .popup4-active .tab-divider,
.gnb-tabs2 .tabs .popup4-active .tab-divider,
.gnb-tabs1 .tabs .popup2 .tab-divider,
.gnb-tabs2 .tabs .popup2 .tab-divider,
.gnb-tabs1 .tabs .popup3 .tab-divider,
.gnb-tabs2 .tabs .popup3 .tab-divider,
.gnb-tabs1 .tabs .popup4 .tab-divider,
.gnb-tabs2 .tabs .popup4 .tab-divider {
  height: 160px;
  width: 0.75px;
  margin-left: 37px;
  margin-right: 37px;
  margin-top: 0px;
  background-color: #ddd;
}
.gnb-tabs1 .tabs .popup1-active, .gnb-tabs2 .tabs .popup1-active,
.gnb-tabs1 .tabs .popup2-active,
.gnb-tabs2 .tabs .popup2-active,
.gnb-tabs1 .tabs .popup3-active,
.gnb-tabs2 .tabs .popup3-active,
.gnb-tabs1 .tabs .popup4-active,
.gnb-tabs2 .tabs .popup4-active {
  opacity: 1; /* 나타남 */
  visibility: visible; /* 나타남 */
}
.gnb-tabs2 {
  position: absolute;
  right: 12%;
}
.gnb-tabs2 .tabs {
  margin-right: 2.6vw;
}
.gnb-tabs2 .tabs div {
  margin-right: 0px;
}
.gnb-language {
  position: absolute;
  right: 10.4%;
}
.gnb .popup5, .gnb .popup5-active {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 52px;
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* 트랜지션 적용 */
}
.gnb .popup5 .tabs, .gnb .popup5-active .tabs {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gnb .popup5-active {
  opacity: 1; /* 나타남 */
  visibility: visible; /* 나타남 */
}

@media (orientation: portrait) {
  .gnb {
    display: none;
  }
}/*# sourceMappingURL=gnb.styles.css.map */