@charset "UTF-8";
::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* 스크롤바 썸 색상 */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 트랙 색상 */
}

.cadr {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-size: 0.52083333vw;
}
.cadr * {
  word-break: normal;
}
.cadr-s1 {
  width: 100%;
  height: 100%;
  padding-top: 52px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  background-image: url("/public/assets/images/cadr1.png");
  background-position: right;
  background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
  background-repeat: no-repeat;
  position: relative;
  align-items: center;
}
.cadr-s1-button {
  position: fixed;
  top: 8.89vh;
  right: 10.41vw;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
  display: inline-flex;
  padding: 0.104vw 1.56vw;
  justify-content: center;
  align-items: center;
  gap: 0.52vw;
  border-radius: 0.208vw;
  border: 1px solid var(--Check, #346ec5);
  background: var(--Check, #346ec5);
  color: var(--White, #fff);
  text-align: right;
  font-family: Pretendard;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 140% */
}
.cadr-s1-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16.48vh;
}
.cadr-s1-text .s1-header {
  width: 22.81vw;
  margin-bottom: 1.09vw;
}
.cadr-s1-text .s1-body {
  color: black;
  text-align: center;
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.416; /* 141.667% */
}
.cadr-s2 {
  width: 100%;
  height: 100%;
  padding-top: 52px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.cadr-s2-tablet {
  position: absolute;
  top: 0px;
  left: 0;
  width: 40vw;
}
.cadr-s2-text {
  width: 31.7vw;
  display: flex;
  flex-direction: column;
  margin-left: 16.75vw;
  margin-top: 25.66vh;
}
.cadr-s2-text .s2-demo {
  color: var(--Dark-Glay, #4d4f58);
  /* 본문 */
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.416; /* 141.667% */
  margin-bottom: 0.52vw;
}
.cadr-s2-text .s2-header {
  color: var(--Black, #000);
  /* 주 헤드 */
  margin-bottom: 4.6vw;
}
.cadr-s2-text .s2-header p {
  font-family: Pretendard;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.24; /* 124% */
}
.cadr-s2-text .s2-body {
  width: 26.57vw;
  color: #000;
  /* 본문 */
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.41;
  opacity: 0.3; /* 141.667% */
}
.cadr-s2-desktop {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48.28vw;
}
.cadr-s3 {
  width: 100%;
  height: 100%;
  padding-top: 52px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.cadr-s3-image {
  margin-top: 3.51vh;
  margin-left: 5.93vw;
  position: relative;
  width: 48vw;
  height: 42.1875vw;
}
.cadr-s3-image .s3-scroll {
  position: absolute;
  color: var(--Dark-Glay, #4d4f58);
  top: -1.635vw;
  text-align: center;
  width: 48vw;
  /* 본문 */
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.416; /* 141.667% */
}
.cadr-s3-image .s3-frame {
  width: 100%;
  position: absolute;
}
.cadr-s3-image .s3-mac {
  width: 100%;
  height: 62.445%;
  position: relative;
  margin-top: 1.94vw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cadr-s3-image .s3-mac-screen {
  width: 98%;
  z-index: 10;
}
.cadr-s3-image .s3-phone {
  bottom: 0vw;
  right: 2.98vw;
  position: absolute;
  width: 11vw;
  z-index: 20;
}
.cadr-s3-image:hover .cadr-s3 {
  overflow-y: auto;
}
.cadr-s3-text {
  width: 25.9vw;
  display: flex;
  flex-direction: column;
  margin-left: 1.98vw;
  margin-top: 18.48vh;
}
.cadr-s3-text .s3-demo {
  color: var(--Dark-Glay, #4d4f58);
  /* 본문 */
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.416; /* 141.667% */
  margin-bottom: 0.52vw;
}
.cadr-s3-text .s3-header {
  color: var(--Black, #000);
  /* 주 헤드 */
  margin-bottom: 0.9375vw;
}
.cadr-s3-text .s3-header p {
  font-family: Pretendard;
  font-size: 5em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.24; /* 124% */
}
.cadr-s3-text .s3-logo {
  width: 21.875vw;
  margin-bottom: 5.2vw;
}
.cadr-s3-text .s3-body {
  color: #000;
  /* 본문 */
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.41;
  opacity: 0.3; /* 141.667% */
}
.cadr-s4 {
  width: 100%;
  height: 100%;
  padding-top: 52px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  background-position: right;
  background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
  background-repeat: no-repeat;
}
.cadr-s4-image {
  width: 41.66vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 10.41vw;
  position: relative;
  margin-bottom: 14vh;
}
.cadr-s4-image .s4-tab {
  width: 41.66;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4.16vw;
  margin-bottom: 6.4vw;
}
.cadr-s4-image .s4-tab-item, .cadr-s4-image .s4-tab-item-active {
  color: #fff;
  /* 카테고리 */
  font-family: Pretendard;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  opacity: 0.3;
}
.cadr-s4-image .s4-tab-item-active {
  opacity: 1;
}
.cadr-s4-image .s4-tablet {
  border-radius: 2.7em;
  border: 1em solid black;
}
.cadr-s4-image .s4-mobile {
  width: 11.45vw;
  position: absolute;
  top: 17vw;
  right: -3vw;
}
.cadr-s4-text {
  width: 30.1vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 7.91vw;
  position: relative;
}
.cadr-s4-text .s4-series {
  color: var(--White, #fff);
  /* 본문 */
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.416; /* 141.667% */
}
.cadr-s4-text .s4-header {
  color: var(--White, #fff);
  /* 주 헤드 */
  font-family: Pretendard;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.24; /* 124% */
  margin-bottom: 10.2vw;
}
.cadr-s4-text .s4-nomo, .cadr-s4-text .s4-nomo-active {
  position: absolute;
  color: var(--White, #fff);
  /* 버튼 */
  font-family: Pretendard;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  opacity: 0.5;
  display: none;
  top: 5.67vw;
}
.cadr-s4-text .s4-nomo-active {
  display: block;
}
.cadr-s4-text .s4-body {
  color: var(--White, #fff);
  width: 28vw;
  /* 본문 */
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.416; /* 141.667% */
}
.cadr-s5 {
  width: 100%;
  height: 100%;
  padding-top: 52px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  background-image: url("/public/assets/images/cadr5.png");
  background-position: right;
  background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
  background-repeat: no-repeat;
  position: relative;
  padding-left: 18.75vw;
}
.cadr-s5-header {
  margin-top: 38.14vh;
  margin-bottom: 1.25vw;
  color: var(--Black, #000);
  width: 34vw;
  /* 보조헤드 */
  font-family: Pretendard;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25; /* 125% */
}
.cadr-s5-body {
  color: var(--Black, #000);
  font-family: Pretendard;
  width: 30.42vw;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
}
.cadr-s6 {
  width: 100%;
  height: 100%;
  padding-top: 52px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding-left: 18.75vw;
}
.cadr-s6-rc {
  color: var(--Middle-Glay, #a0a0a0);
  /* 카테고리 */
  font-family: Pretendard;
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  margin-bottom: 0.625vw;
}
.cadr-s6-header {
  margin-bottom: 1.5625vw;
  color: var(--Black, #000);
  /* 주 헤드 */
  font-family: Pretendard;
  font-size: 5em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.24; /* 124% */
}
.cadr-s6-where {
  margin-bottom: 3.17vw;
  color: var(--Dark-Glay, #4d4f58);
  /* 보조헤드 */
  font-family: Pretendard;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25; /* 125% */
}
.cadr-s6-carousel {
  width: 100%;
  height: 25.21vw;
  position: relative;
  display: flex;
  flex-direction: row;
}
.cadr-s6-carousel .s6-prev, .cadr-s6-carousel .s6-next {
  width: 0.625vw;
  position: absolute;
  left: -2.08vw;
  top: 12.471875vw;
  z-index: 20;
}
.cadr-s6-carousel .s6-next {
  left: 43.3vw;
}
.cadr-s6-carousel .s6-frame {
  width: 41.25vw;
  height: 100%;
  z-index: 2;
}
.cadr-s6-carousel .s6-frame-place {
  height: 100%;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: row;
}
.cadr-s6-carousel .s6-frame-place-slide {
  width: 41.25vw;
  height: 100%;
  margin-right: 1.25vw;
}

@media (orientation: portrait) {
  .cadr {
    position: relative;
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: none;
    scroll-behavior: smooth;
    align-items: normal;
    font-size: 2.5445292621vw;
  }
  .cadr-s1 {
    background-image: url("/public/assets/images/cadrBanner_m.png");
    height: 76.4vw;
    padding-top: 0;
  }
  .cadr-s1-button {
    display: none;
  }
  .cadr-s1-text {
    margin-top: 41.98vw;
  }
  .cadr-s1-text .s1-header {
    width: 49.7vw;
  }
  .cadr-s1-text .s1-body {
    color: #fff;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    /* Mobile/본문 */
    font-family: Pretendard;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.36; /* 136.364% */
  }
  .cadr-s2 {
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 0;
  }
  .cadr-s2-tablet {
    width: 65vw;
  }
  .cadr-s2-text {
    width: 40vw;
    margin-top: 33.6vw;
  }
  .cadr-s2-text .s2-demo,
  .cadr-s2-text .s2-body {
    display: none;
  }
  .cadr-s2-text .s2-header p {
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    /* Mobile/주헤드 */
    font-family: Pretendard;
    font-size: 1.9em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.21; /* 121.053% */
  }
  .cadr-s2-desktop {
    display: none;
  }
  .cadr-s3 {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10.4vw;
    padding-top: 0;
  }
  .cadr-s3-image {
    transform: scale(1.3);
    margin-right: 7vw;
  }
  .cadr-s3-image .s3-scroll {
    display: none;
  }
  .cadr-s3-image .s3-phone {
    right: auto;
    left: -7vw;
  }
  .cadr-s3-text {
    width: 39vw;
    margin-left: 0;
    margin-top: 10vw;
    align-items: end;
  }
  .cadr-s3-text .s3-demo {
    display: none;
  }
  .cadr-s3-text .s3-header {
    width: 39vw;
  }
  .cadr-s3-text .s3-header p {
    color: #000;
    text-align: right;
    font-feature-settings: "clig" off, "liga" off;
    /* Mobile/주헤드 */
    font-family: Pretendard;
    font-size: 1.9em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.21; /* 121.053% */
  }
  .cadr-s3-text .s3-logo {
    width: 49.6vw;
    margin-bottom: 5.2vw;
  }
  .cadr-s4 {
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 7vw;
    position: relative;
    align-items: start;
    padding-top: 0;
    padding-left: 8vw;
  }
  .cadr-s4-image {
    width: 65.4vw;
    margin-left: 0;
    margin-bottom: 12.7vw;
  }
  .cadr-s4-image .s4-tab {
    justify-content: start;
    margin-bottom: 9vw;
  }
  .cadr-s4-image .s4-tab-item, .cadr-s4-image .s4-tab-item-active {
    display: none;
  }
  .cadr-s4-image .s4-tab-item-active {
    display: block;
    color: var(--Dark-Glay, #4d4f58);
    font-feature-settings: "clig" off, "liga" off;
    /* Mobile/본문강조 */
    font-family: Pretendard;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.35; /* 135.714% */
  }
  .cadr-s4-image .s4-tablet {
    border: 1vw solid black;
    border-radius: 1vw;
  }
  .cadr-s4-image .s4-mobile {
    width: 17.4vw;
    top: 15.5vw;
    right: -20.1vw;
  }
  .cadr-s4-text {
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    margin-left: 0;
    top: 5.1vw;
  }
  .cadr-s4-text .s4-header {
    color: var(--Black, #000);
    font-feature-settings: "clig" off, "liga" off;
    /* Mobile/주헤드 */
    font-family: Pretendard;
    font-size: 1.9em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.21; /* 121.053% */
  }
  .cadr-s4-text .s4-series,
  .cadr-s4-text .s4-nomo,
  .cadr-s4-text .s4-nomo-active,
  .cadr-s4-text .s4-body {
    display: none;
  }
  .cadr-s5 {
    height: 56.23vw;
    padding-left: 8.9vw;
    padding-top: 0;
    margin-bottom: 13.48vw;
  }
  .cadr-s5-header {
    margin-top: 0;
    top: 58.27vw;
    width: 57.8vw;
    color: var(--Black, #000);
    font-feature-settings: "clig" off, "liga" off;
    /* Mobile/주헤드 */
    font-family: Pretendard;
    font-size: 1.9em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.21; /* 121.053% */
    position: absolute;
  }
  .cadr-s5-body {
    position: absolute;
    top: 66.15vw;
    width: 55.8vw;
    color: var(--Dark-Glay, #4d4f58);
    font-feature-settings: "clig" off, "liga" off;
    /* Mobile/본문 */
    font-family: Pretendard;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.36; /* 136.364% */
  }
  .cadr-s6 {
    display: none;
  }
}/*# sourceMappingURL=cadr.styles.css.map */