@charset "UTF-8";
::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* 스크롤바 썸 색상 */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 트랙 색상 */
}

.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-margin: 100px 0px;
  font-size: 0.52083333vw;
}
.home * {
  word-break: normal;
}
.home-s1 {
  width: 100vw;
  height: 100vh;
  padding-top: 52px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/public/assets/images/mainback1.png");
  background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.home-s1-text {
  z-index: 10;
  width: 594px;
  margin-left: 18.75vw;
  word-break: keep-all;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
}
.home-s1-text p {
  font-family: Pretendard;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 132% */
}
.home-s2 {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
}
.home-s2-container {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 2.4vh;
}
.home-s2-container-header {
  width: 62.5vw;
  margin: auto;
  margin-bottom: 0;
  color: #000;
  font-family: Pretendard;
  font-size: 2.08vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.home-s2-container-tabs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 62.5vw;
  height: 2.34vw;
  margin: auto;
  margin-top: 4.06vw;
  border-bottom: 2px solid #ddd;
}
.home-s2-container-tabs .all, .home-s2-container-tabs .home-s3-tabs .research, .home-s2-container-tabs .home-s3-tabs .research-active, .home-s3-tabs .home-s2-container-tabs .research, .home-s3-tabs .home-s2-container-tabs .research-active, .home-s2-container-tabs .home-s3-tabs .news, .home-s2-container-tabs .home-s3-tabs .news-active, .home-s3-tabs .home-s2-container-tabs .news, .home-s3-tabs .home-s2-container-tabs .news-active, .home-s2-container-tabs .chatai, .home-s2-container-tabs .chatai-active, .home-s2-container-tabs .cadai, .home-s2-container-tabs .cadai-active, .home-s2-container-tabs .all-active {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
  height: 2.34vw;
  left: 11.04vw;
  transition: 0.075s ease;
  color: #000;
  font-family: Pretendard;
  font-size: 1.56vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
}
.home-s2-container-tabs .all:hover, .home-s2-container-tabs .home-s3-tabs .research:hover, .home-s2-container-tabs .home-s3-tabs .research-active:hover, .home-s3-tabs .home-s2-container-tabs .research:hover, .home-s3-tabs .home-s2-container-tabs .research-active:hover, .home-s2-container-tabs .home-s3-tabs .news:hover, .home-s2-container-tabs .home-s3-tabs .news-active:hover, .home-s3-tabs .home-s2-container-tabs .news:hover, .home-s3-tabs .home-s2-container-tabs .news-active:hover, .home-s2-container-tabs .chatai:hover, .home-s2-container-tabs .chatai-active:hover, .home-s2-container-tabs .cadai:hover, .home-s2-container-tabs .cadai-active:hover, .home-s2-container-tabs .all-active:hover {
  cursor: pointer;
}
.home-s2-container-tabs .all-active {
  border-bottom: 2px solid black;
}
.home-s2-container-tabs .cadai, .home-s2-container-tabs .cadai-active {
  left: 22.5vw;
}
.home-s2-container-tabs .cadai-active {
  border-bottom: 2px solid black;
}
.home-s2-container-tabs .chatai, .home-s2-container-tabs .chatai-active {
  left: 40vw;
}
.home-s2-container-tabs .chatai-active {
  border-bottom: 2px solid black;
}
.home-s2-container-body {
  width: 62.5vw;
  height: 31.35vw;
  background-color: #e9e9e9;
  margin-top: 2.08vw;
}
.home-s3 {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-top: 52px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
}
.home-s3-header {
  position: relative;
  width: 62.5vw;
  margin-top: 6.45vh;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-s3-header-text {
  color: #000;
  /* 보조헤드 */
  font-family: Pretendard;
  font-size: 3.5em;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.home-s3-header-readmore {
  width: 12.11vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-s3-header-readmore span {
  color: var(--Dark-Glay, #4d4f58);
  text-align: right;
  /* 버튼 */
  font-family: Pretendard;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  margin-right: 0.625vw;
}
.home-s3-header-readmore img {
  width: 0.73vw;
}
.home-s3-tabs {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 62.5vw;
  height: 2.34vw;
  margin-top: 3.2vw;
  border-bottom: 2px solid #ddd;
}
.home-s3-tabs .all, .home-s3-tabs .research, .home-s3-tabs .research-active, .home-s3-tabs .news, .home-s3-tabs .news-active, .home-s3-tabs .all-active, .home-s3-tabs .home-s2-container-tabs .cadai, .home-s2-container-tabs .home-s3-tabs .cadai, .home-s3-tabs .home-s2-container-tabs .cadai-active, .home-s2-container-tabs .home-s3-tabs .cadai-active, .home-s3-tabs .home-s2-container-tabs .chatai, .home-s2-container-tabs .home-s3-tabs .chatai, .home-s3-tabs .home-s2-container-tabs .chatai-active, .home-s2-container-tabs .home-s3-tabs .chatai-active {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
  height: 2.34vw;
  left: 11.04vw;
  transition: 0.075s ease;
  color: #000;
  font-family: Pretendard;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
}
.home-s3-tabs .all:hover, .home-s3-tabs .research:hover, .home-s3-tabs .research-active:hover, .home-s3-tabs .news:hover, .home-s3-tabs .news-active:hover, .home-s3-tabs .all-active:hover, .home-s3-tabs .home-s2-container-tabs .cadai:hover, .home-s2-container-tabs .home-s3-tabs .cadai:hover, .home-s3-tabs .home-s2-container-tabs .cadai-active:hover, .home-s2-container-tabs .home-s3-tabs .cadai-active:hover, .home-s3-tabs .home-s2-container-tabs .chatai:hover, .home-s2-container-tabs .home-s3-tabs .chatai:hover, .home-s3-tabs .home-s2-container-tabs .chatai-active:hover, .home-s2-container-tabs .home-s3-tabs .chatai-active:hover {
  cursor: pointer;
}
.home-s3-tabs .all-active {
  border-bottom: 2px solid black;
}
.home-s3-tabs .news, .home-s3-tabs .news-active {
  left: 24.5vw;
}
.home-s3-tabs .news-active {
  border-bottom: 2px solid black;
}
.home-s3-tabs .research, .home-s3-tabs .research-active {
  left: 42vw;
}
.home-s3-tabs .research-active {
  border-bottom: 2px solid black;
}
.home-s3-news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.2vw;
  width: 62.5vw;
  height: 33.57vw;
  margin-top: 2.08vw;
}
.home-s3-news-component {
  display: flex;
  flex-direction: column;
  width: 14.74vw;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.home-s3-news-component .news-banner {
  width: 100%;
  margin-bottom: 1.14vw;
}
.home-s3-news-component .news-title {
  color: #000;
  /* 본문 강조 */
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home-s3-news-component .news-content {
  color: var(--Dark-Glay, #4d4f58);
  margin-top: 1.25vw;
  height: 2.916vw;
  /* NAV */
  font-family: Pretendard;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.home-s3-news-component .news-footer {
  width: 100%;
  margin-top: 0.625vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-s3-news-component .news-footer .date {
  color: var(--Middle-Glay, #a0a0a0);
  text-align: center;
  font-family: Pretendard;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5; /* 250% */
}
.home-s3-news-component .news-footer .rightB {
  width: 0.73vw;
}
.home-s4 {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  background-image: url("/public/assets/images/mainback3.png");
  background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
  background-repeat: no-repeat;
  scroll-snap-align: start;
}
.home-s4-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 10;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 18.75vw;
  margin-top: 50vh;
  word-break: keep-all;
  height: -moz-fit-content;
  height: fit-content;
}
.home-s4-text .header, .home-s4-text .body {
  color: #fff;
  font-family: Pretendard;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 100% */
}
.home-s4-text .body {
  margin-top: 54px;
}
.home-s4-text .body p {
  font-family: Pretendard;
  font-weight: 400;
  font-size: 24px;
  width: 50vw;
}
.home-s4-text .readmore {
  display: flex;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 90px;
  align-items: center;
}
.home-s4-text .readmore div {
  color: #fff;
  text-align: right;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  margin-right: 12px;
}
.home-s4-text .readmore img {
  width: 14px;
  height: 14px;
}
.home .footer {
  scroll-snap-align: start;
}/*# sourceMappingURL=home.styles.css.map */