::-webkit-scrollbar {
	width: 0.1rem;
}

::-webkit-scrollbar-thumb {
	background-color: transparent; /* 스크롤바 썸 색상 */
}

::-webkit-scrollbar-track {
	background-color: transparent; /* 스크롤바 트랙 색상 */
}

.home {
	position: relative;
	// display: flex;
	// flex-wrap: wrap;
	// flex-direction: column;
	width: 100vw;
	height: 100vh;
	//height: fit-content;
	//scroll-snap-type: y mandatory;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	scroll-margin: 100px 0px;
	&-s1 {
		width: 100vw;
		height: 100vh;
		padding-top: 52px;

		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		//align-items: center;
		background-image: url('/public/assets/images/mainback1.png');
		background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
		background-repeat: no-repeat;
		// img {
		// 	width: 100vw;
		// 	height: 100vh;
		// 	position: absolute;
		// }

		scroll-snap-align: start;

		&-text {
			z-index: 10;
			width: 594px;
			margin-left: 18.75vw;
			//margin-top: 11.1vw;
			word-break: keep-all;
			height: fit-content;
			//background-color: black;
			color: white;
			font-family: Pretendard;
			font-size: 80px;
			font-style: normal;
			font-weight: 600;
			line-height: 1.2; /* 132% */
		}
	}
	&-s2 {
		width: 100vw;
		height: 100vh;
		position: relative;
		display: flex;
		flex-direction: column;
		scroll-snap-align: start;

		// align-items: center;
		// justify-content: center;
		//margin: auto;
		&-container {
			width: fit-content;
			height: 74.2vh;
			margin: auto;
			&-header {
				width: 62.5vw;
				margin: auto;
				//margin-top: 5.26vw;
				margin-bottom: 0;
				color: #000;
				font-family: Pretendard;
				font-size: 2.08vw;
				font-style: normal;
				font-weight: 600;
				line-height: 1; /* 100% */
			}
			&-tabs {
				display: flex;
				position: relative;
				flex-direction: row;
				width: 62.5vw;
				height: 2.34vw;
				margin: auto;
				margin-top: 4.06vw;
				border-bottom: 2px solid #ddd;
				.all {
					position: absolute;
					width: fit-content;
					padding-left: 1vw;
					padding-right: 1vw;
					text-align: center;
					height: 2.34vw;
					left: 11.04vw;
					transition: 0.075s ease;
					color: #000;
					font-family: Pretendard;
					font-size: 1.56vw;
					font-style: normal;
					font-weight: 600;
					line-height: 1.33; /* 133.333% */
					&:hover {
						cursor: pointer;
					}
					&-active {
						@extend .all;
						border-bottom: 2px solid black;
					}
				}
				.cadai {
					@extend .all;
					left: 22.5vw;
					&-active {
						@extend .cadai;
						border-bottom: 2px solid black;
					}
				}
				.chatai {
					@extend .all;
					left: 40vw;
					&-active {
						@extend .chatai;
						border-bottom: 2px solid black;
					}
				}
			}
		}
	}
	&-s4 {
		// width: 100vw;
		// height: 56.25vw;
		// position: relative;
		// display: flex;
		//
		// scroll-snap-align: start;
		width: 100vw;
		height: 100vh;
		position: relative;
		display: flex;
		//background-image: url('/public/assets/images/mainback1.png');
		background-image: url('/public/assets/images/mainback3.png');
		background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
		background-repeat: no-repeat;
		// img {
		// 	width: 100vw;
		// 	height: 100vh;
		// 	position: absolute;
		// }

		scroll-snap-align: start;
		&-text {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			z-index: 10;
			width: fit-content;
			margin-left: 18.75vw;
			margin-top: 50vh;
			word-break: keep-all;
			height: fit-content;
			.header {
				color: #fff;
				font-family: Pretendard;
				font-size: 40px;
				font-style: normal;
				font-weight: 600;
				line-height: 40px; /* 100% */
			}
			.body {
				@extend .header;
				font-size: 30px;
				margin-top: 54px;
			}
			.readmore {
				display: flex;
				flex-direction: row;
				width: fit-content;
				margin-top: 90px;
				align-items: center;
				div {
					color: #fff;
					text-align: right;
					font-family: Pretendard;
					font-size: 20px;
					font-style: normal;
					font-weight: 400;
					line-height: 28px; /* 140% */
					margin-right: 12px;
				}
				img {
					width: 14px;
					height: 14px;
				}
			}
			//background-color: black;
		}
	}
	.footer {
		scroll-snap-align: start;
		// }
	}
}
