::-webkit-scrollbar {
	width: 0.1rem;
}

::-webkit-scrollbar-thumb {
	background-color: transparent; /* 스크롤바 썸 색상 */
}

::-webkit-scrollbar-track {
	background-color: transparent; /* 스크롤바 트랙 색상 */
}
.pdate {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	font-size: 0.52083333vw;
	&-bn {
		width: 100vw;
		height: 100vh;
		padding-top: 52px;

		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		//align-items: center;
		background-image: url('/public/assets/images/pdateBanner.png');
		background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
		background-repeat: no-repeat;

		scroll-snap-align: start;
		&-text {
			margin-left: 18.75vw;
			margin-bottom: 22vh;
			color: #fff;
			width: 46.875vw;
			/* Web/주 헤드 */
			font-family: Pretendard;
			font-size: 5em;
			font-style: normal;
			font-weight: 600;
			line-height: 62px; /* 124% */
		}
	}
	&-lst {
		width: 100vw;
		height: fit-content;
		min-height: 100vh;
		padding-top: 52px;
		padding-bottom: 52px;
		position: relative;
		display: flex;
		flex-direction: column;
		padding-left: 18.75vw;
		justify-content: center;
		//align-items: center;

		scroll-snap-align: start;
		&-title {
			color: var(--Black, #000);

			/* Web/주 헤드 */
			font-family: Pretendard;
			font-size: 5em;
			font-style: normal;
			font-weight: 600;
			line-height: 1.24; /* 124% */
			margin-bottom: 5.21vw;
		}
		&-body {
			width: 62.5vw;
			height: 24.6875vw;

			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
			row-gap: 3.75vw;
			column-gap: 1.25vw;
			.pbox {
				display: flex;
				flex-direction: column;
				border-bottom: 1px solid #a0a0a0;
				&-date {
					color: #000;

					/* Web/본문 강조 */
					font-family: Pretendard;
					font-size: 2.4em;
					font-style: normal;
					font-weight: 600;
					line-height: 1.333; /* 133.333% */
					margin-bottom: 0.73vw;
				}
				&-title {
					color: #000;

					/* Web/본문 */
					font-family: Pretendard;
					font-size: 2.4em;
					font-style: normal;
					font-weight: 400;
					line-height: 1.416; /* 141.667% */
				}
			}
		}
	}
}
