::-webkit-scrollbar {
	width: 0.1rem;
}

::-webkit-scrollbar-thumb {
	background-color: transparent; /* 스크롤바 썸 색상 */
}

::-webkit-scrollbar-track {
	background-color: transparent; /* 스크롤바 트랙 색상 */
}

.chatai {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	font-size: 0.52083333vw;
	& * {
		word-break: normal;
	}
	&-s1 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		background-image: url('/public/assets/images/chatai1.png');
		background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
		background-repeat: no-repeat;
		justify-content: center;
		align-items: center;
		&-text {
			color: #fff;
			text-align: center;
			font-family: Pretendard;
			font-size: 2.4em;
			font-style: normal;
			font-weight: 400;
			line-height: 1.416; /* 141.667% */
			margin-top: 1.1vw;
		}
	}
	&-s2 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: row;
		overflow: hidden;
		align-items: center;
		position: relative;
		&-text {
			margin-top: 6.3vh;
			margin-left: 18.75vw;
			width: 19.22vw;
			height: fit-content;
			display: flex;
			flex-direction: column;
			.s2-store {
				margin-bottom: 0.52vw;
				color: var(--Dark-Glay, #4d4f58);

				/* 본문 */
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.416; /* 141.667% */
			}
			.s2-header {
				margin-bottom: 2.916vw;
				color: var(--Black, #000);
				p {
					font-family: Pretendard;
					font-size: 4em;
					font-style: normal;
					font-weight: 600;
					line-height: 1.24; /* 124% */
				}
				/* 주 헤드 */
			}
			.s2-descript {
				width: 15.36vw;
				opacity: 0.3;
				color: #000;

				/* 본문 */
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.416; /* 141.667% */
			}
		}
		&-image {
			position: absolute;
			overflow: hidden;
			width: 72.55vw;
			margin-top: 11.6vh;
			z-index: -1;
			right: -1.3vw;
		}
	}
	&-s3 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		background-image: url('/public/assets/images/chatai3.png');
		background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
		background-repeat: no-repeat;
		justify-content: center;
		overflow: hidden;
		//align-items: center;
		&-text {
			margin-left: 18.75vw;
			width: 33.66vw;
			height: fit-content;
			display: flex;
			flex-direction: column;
			gap: 1.875vw;
			.s3-header {
				color: var(--White, #fff);
				p {
					font-family: Pretendard;
					font-size: 4em;
					font-style: normal;
					font-weight: 600;
					line-height: 1.25; /* 125% */
				}
				/* 보조헤드 */
			}
			.s3-body {
				width: 90%;
				color: var(--White, #fff);
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.66; /* 166.667% */
			}
		}
	}
	&-s4 {
		width: 100%;
		height: 100%;
		position: relative;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow: hidden;
		&-text {
			margin-bottom: 6.8vh;
			margin-left: 18.75vw;
			width: 25vw;
			display: flex;
			flex-direction: column;
			.s4-header {
				&-cross {
					width: 3.07vw;
					margin-right: 0.78vw;
				}
				&-pro {
					width: 12.29vw;
				}
				margin-bottom: 1.25vw;
			}
			.s4-body {
				color: #000;
				width: 19.5vw;
				p {
					font-family: Pretendard;
					font-size: 2.4em;
					font-style: normal;
					font-weight: 600;
					line-height: 1.333; /* 133.333% */
				}
				/* 본문 강조 */
			}
		}
		&-image {
			position: absolute;
			z-index: -1;
			overflow: hidden;

			width: 80.2vw;
			margin-top: 4.8vh;
			//margin-top: 9.85vh;
			//bottom: 0;
			right: -5.57vw;
		}
	}
	&-s5 {
		width: 100%;
		height: 100%;
		position: relative;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow: hidden;
		&-text {
			margin-bottom: 6.8vh;
			margin-left: 18.75vw;
			width: 25vw;
			display: flex;
			flex-direction: column;
			.s5-header {
				&-cross {
					width: 3.07vw;
					margin-right: 0.78vw;
				}
				&-pro {
					width: 12.29vw;
				}
				margin-bottom: 1.25vw;
			}
			.s5-body {
				color: #000;
				width: 19.5vw;
				p {
					font-family: Pretendard;
					font-size: 2.4em;
					font-style: normal;
					font-weight: 600;
					line-height: 1.333; /* 133.333% */
				}
			}
		}
		&-image {
			position: absolute;
			z-index: -1;
			overflow: hidden;

			width: 80.2vw;
			margin-top: 4.8vh;
			//margin-top: 9.85vh;
			//bottom: 0;
			right: -5.57vw;
		}
	}
	&-s6 {
		width: 100%;
		height: 100%;
		position: relative;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow: hidden;
		position: relative;
		.s6-kiwi1 {
			width: 35vw;
			margin-left: 5.4vw;
		}
		.s6-kiwi2 {
			position: absolute;
			z-index: -1;
			width: 18vw;
			left: 29.6vw;
			margin-bottom: 9vw;
		}
		&-text {
			display: flex;
			flex-direction: column;
			margin-top: 1.6vh;
			width: 25.31vw;
			align-items: flex-start;
			margin-left: 15.8vw;
			.s6-kiwi {
				width: 7.8125vw;
				margin-bottom: 0.78vw;
			}
			.s6-header {
				width: 7.55vw;
				margin-bottom: 2.08vw;
			}
			.s6-body {
				color: #000;
				p {
					font-family: Pretendard;
					font-size: 2.4em;
					font-style: normal;
					font-weight: 600;
					line-height: 1.33; /* 133.333% */
				}
				/* 본문 강조 */
			}
		}
	}
	&-s7 {
		width: 100%;
		height: 100%;
		position: relative;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: row;
		align-items: center;
		overflow: hidden;
		position: relative;
		&-text {
			width: 31.36vw;
			height: fit-content;
			display: flex;
			flex-direction: column;
			align-items: start;
			margin-left: 18.75vw;
			margin-top: 2.68vh;
			.s7-header {
				margin-bottom: 2.08vw;
				color: var(--Black, #000);
				font-family: Pretendard;
				font-size: 4em;
				font-style: normal;
				font-weight: 600;
				line-height: 1.2; /* 120% */
			}
			.s7-body {
				width: 30.41vw;
				margin-bottom: 2.76vw;
				color: var(--Black, #000);
				p {
					font-family: Pretendard;
					font-size: 2.4em;
					font-style: normal;
					font-weight: 400;
					line-height: 1.66; /* 166.667% */
				}
			}
			.s7-download {
				display: inline-flex;
				padding: 0.104vw 1.56vw;
				justify-content: center;
				align-items: center;
				gap: 0.52vw;
				border-radius: 0.208vw;
				border: 1px solid var(--Check, #346ec5);
				background: var(--Check, #346ec5);
				color: var(--White, #fff);
				text-align: right;
				font-family: Pretendard;
				font-size: 2em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.4; /* 140% */
				&:hover {
					cursor: pointer;
				}
			}
		}
		&-image {
			width: fit-content;
			display: flex;
			flex-direction: row;
			margin-bottom: 6.57vh;
			gap: 2.91vw;
			margin-left: 7.08vw;
			.s7-app {
				width: 12.34vw;
			}
		}
	}
}
