@charset "UTF-8";
.scroll {
  overflow: hidden;
}

.Introduce::-webkit-scrollbar {
  width: 0rem; /* 스크롤바 너비를 최소로 줄임 */
}

.Culture {
  height: 100vh;
  font-size: 0.5208333333vw;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.Culture section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  padding-top: 52px;
  background-color: white;
  transition: all 0.5s ease-out;
}
.Culture section article {
  position: relative;
  flex-basis: 62.5%;
  aspect-ratio: 1200/760;
}

.CultureSlogun .Slogun .SlogunTitle {
  white-space: pre-wrap;
  margin-bottom: 2.4%;
}
.CultureSlogun .Slogun .SlogunTitle label {
  color: #000;
  font-family: Pretendard;
  font-size: 5em;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
}
.CultureSlogun .Slogun .SlogunDescription {
  white-space: pre-wrap;
  margin-bottom: 6.5%;
}
.CultureSlogun .Slogun .SlogunDescription label {
  color: #000;
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 141.667%;
}
.CultureSlogun .Slogun .SlogunImage img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.CultureEnvironment .Environment .EnvironmentHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CultureEnvironment .Environment .EnvironmentHead .EnvironmentTitle {
  margin-bottom: 2.4%;
}
.CultureEnvironment .Environment .EnvironmentHead .EnvironmentTitle label {
  color: var(--Middle-Glay, #a0a0a0);
  text-align: center;
  font-family: Pretendard;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.CultureEnvironment .Environment .EnvironmentHead .EnvironmentSubtitle {
  margin-bottom: 2.4%;
}
.CultureEnvironment .Environment .EnvironmentHead .EnvironmentSubtitle label {
  color: var(--Black, #000);
  text-align: center;
  font-family: Pretendard;
  font-size: 5em;
  font-style: normal;
  font-weight: 600;
  line-height: 80%;
}
.CultureEnvironment .Environment .EnvironmentHead .EnvironmentDescription {
  margin-bottom: 10%;
  white-space: pre-wrap;
  text-align: center;
}
.CultureEnvironment .Environment .EnvironmentHead .EnvironmentDescription label {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
}
.CultureEnvironment .Environment .EnvironmentContents {
  display: flex;
  width: 100%;
}
.CultureEnvironment .Environment .EnvironmentContents .EnvironmentSubject {
  flex-basis: 45%;
}
.CultureEnvironment .Environment .EnvironmentContents .EnvironmentSubject .SubjectList {
  padding-top: 5%;
}
.CultureEnvironment .Environment .EnvironmentContents .EnvironmentSubject .SubjectList .Subject {
  margin-bottom: 8%;
}
.CultureEnvironment .Environment .EnvironmentContents .EnvironmentSubject .SubjectList .Subject label {
  color: var(--Dark-Glay, #4d4f58);
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  opacity: 0.3;
}
.CultureEnvironment .Environment .EnvironmentContents .EnvironmentSubject .SubjectList .Subject label.active {
  opacity: 1;
}
.CultureEnvironment .Environment .EnvironmentContents .EnvironmentSubject .SubjectList .Subject label:hover {
  cursor: pointer;
}
.CultureEnvironment .Environment .EnvironmentContents .EnvironmentCarousel {
  flex-basis: 55%;
  height: 36vh;
  overflow: hidden;
  position: relative;
}
.CultureEnvironment .Environment .EnvironmentContents .EnvironmentCarousel .EnvironmentImage {
  transition: transform 0.4s ease-in-out 0s;
}
.CultureEnvironment .Environment .EnvironmentContents .EnvironmentCarousel .EnvironmentImage img {
  width: 100%;
  height: 36vh;
  margin-bottom: 2vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.CultureOrganization .Organization {
  display: flex;
  flex-direction: column;
}
.CultureOrganization .Organization .OrganizationTitle {
  margin-bottom: 2.4em;
}
.CultureOrganization .Organization .OrganizationTitle label {
  color: var(--Black, #000);
  font-family: Pretendard;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.CultureOrganization .OrganizationDescription {
  width: 69em;
  word-break: break-all;
}
.CultureOrganization .OrganizationDescription label {
  color: #000;
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
}
.CultureOrganization .OrganizationImage {
  flex-grow: 1;
}
.CultureOrganization .OrganizationImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.CultureTeamsCarousel > img {
  z-index: 10;
  width: 2.85%;
  aspect-ratio: 1/1;
}
.CultureTeamsCarousel > img:first-child {
  margin: 2%;
}
.CultureTeamsCarousel > img:last-child {
  margin: 2%;
}
.CultureTeamsCarousel > img:hover {
  cursor: pointer;
}
.CultureTeamsCarousel .TeamsCarousel {
  overflow: hidden;
}
.CultureTeamsCarousel .TeamsCarousel .Carousel {
  display: flex;
  height: 100%;
}

.CultureTeams {
  width: 120em;
  height: 100%;
  flex-shrink: 0;
  margin-right: 10%;
  opacity: 0;
  position: absolute;
  transition: 0.4s ease-in-out;
}
.CultureTeams.active {
  opacity: 1;
}
.CultureTeams .ProgressBar {
  margin-bottom: 3.2em;
}
.CultureTeams .ProgressBar img {
  width: 1em;
  height: 1em;
  margin-right: 2em;
}
.CultureTeams .Teams {
  height: calc(100% - 4.2em);
  display: flex;
  justify-content: space-between;
}
.CultureTeams .Teams .TeamInformation {
  position: relative;
  width: 49%;
}
.CultureTeams .Teams .TeamInformation .TeamName {
  margin-bottom: 2em;
  white-space: pre-wrap;
}
.CultureTeams .Teams .TeamInformation .TeamName label {
  color: #292929;
  font-family: Pretendard;
  font-size: 4em;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.CultureTeams .Teams .TeamInformation .TeamProjects {
  white-space: pre-wrap;
}
.CultureTeams .Teams .TeamInformation .TeamProjects label {
  color: #000;
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 141.667%;
  opacity: 0.3;
}
.CultureTeams .Teams .TeamInformation .TeamDescription {
  width: 82%;
  word-break: break-all;
  position: absolute;
  bottom: 0;
}
.CultureTeams .Teams .TeamInformation .TeamDescription label {
  color: #000;
  font-family: Pretendard;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 400;
  line-height: 141.667%;
}
.CultureTeams .Teams .TeamInformation .TeamDescription .GoDetails {
  display: flex;
  align-items: center;
  margin-top: 3.2em;
}
.CultureTeams .Teams .TeamInformation .TeamDescription .GoDetails :hover {
  cursor: pointer;
}
.CultureTeams .Teams .TeamInformation .TeamDescription .GoDetails img {
  margin-left: 1.2em;
  width: 2em;
  height: 2em;
}
.CultureTeams .Teams .TeamImage {
  width: 49%;
}
.CultureTeams .Teams .TeamImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=culture.css.map */