.scroll {
  overflow: hidden;
}

.Introduce::-webkit-scrollbar {
  width: 0rem; /* 스크롤바 너비를 최소로 줄임 */
}

.Culture {
  height: 100vh;
  font-size: 0.5208333333333vw; // 10px 기준 하위 항목 1em
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-align: start;
    // 추후 상단바의 높이만큼 동적조절 필요
    padding-top: 52px;
    background-color: white;
    transition: all 0.5s ease-out;
    article {
      position: relative;
      flex-basis: 62.5%;
      aspect-ratio: 1200/760;
    }
  }
}

.CultureSlogun {
  .Slogun {
    .SlogunTitle {
      white-space: pre-wrap;
      margin-bottom: 2.4%;
      label {
        color: #000;
        font-family: Pretendard;
        font-size: 5em;
        font-style: normal;
        font-weight: 600;
        line-height: 132%;
      }
    }

    .SlogunDescription {
      white-space: pre-wrap;
      margin-bottom: 6.5%;
      label {
        color: #000;
        font-family: Pretendard;
        font-size: 2.4em;
        font-style: normal;
        font-weight: 400;
        line-height: 141.667%;
      }
    }

    .SlogunImage {
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.CultureEnvironment {
  .Environment {
    .EnvironmentHead {
      display: flex;
      flex-direction: column;
      align-items: center;
      .EnvironmentTitle {
        margin-bottom: 2.4%;
        label {
          color: var(--Middle-Glay, #a0a0a0);
          text-align: center;
          font-family: Pretendard;
          font-size: 4em;
          font-style: normal;
          font-weight: 600;
          line-height: 100%;
        }
      }
      .EnvironmentSubtitle {
        margin-bottom: 2.4%;
        label {
          color: var(--Black, #000);
          text-align: center;
          font-family: Pretendard;
          font-size: 5em;
          font-style: normal;
          font-weight: 600;
          line-height: 80%;
        }
      }
      .EnvironmentDescription {
        margin-bottom: 10%;
        white-space: pre-wrap;
        text-align: center;
        label {
          color: #000;
          text-align: center;
          font-family: Pretendard;
          font-size: 2.4em;
          font-style: normal;
          font-weight: 400;
          line-height: 166.667%;
        }
      }
    }
    .EnvironmentContents {
      display: flex;
      width: 100%;
      .EnvironmentSubject {
        flex-basis: 45%;
        .SubjectList {
          padding-top: 5%;
          .Subject {
            margin-bottom: 8%;
            label {
              color: var(--Dark-Glay, #4d4f58);
              font-family: Pretendard;
              font-size: 2.4em;
              font-style: normal;
              font-weight: 400;
              line-height: 166.667%;
              opacity: 0.3;
              &.active {
                opacity: 1;
              }
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
      .EnvironmentCarousel {
        flex-basis: 55%;
        height: 36vh;
        overflow: hidden;
        position: relative;
        .EnvironmentImage {
          transition: transform 0.4s ease-in-out 0s;
          img {
            width: 100%;
            height: 36vh;
            margin-bottom: 2vh;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.CultureOrganization {
  .Organization {
    display: flex;
    flex-direction: column;
    .OrganizationTitle {
      margin-bottom: 2.4em;
      label {
        color: var(--Black, #000);
        font-family: Pretendard;
        font-size: 4em;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
      }
    }
  }
  .OrganizationDescription {
    width: 69em;
    word-break: break-all;
    label {
      color: #000;
      font-family: Pretendard;
      font-size: 2.4em;
      font-style: normal;
      font-weight: 400;
      line-height: 166.667%;
    }
  }
  .OrganizationImage {
    flex-grow: 1;
    
    
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.progressBar {
}

// 미션 상세 캐러셀
.CultureTeamsCarousel {
  > img {
    z-index: 10;
    width: 2.85%;
    aspect-ratio: 1/1;

    &:first-child {
      margin: 2%;
    }

    &:last-child {
      margin: 2%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .TeamsCarousel {
    overflow: hidden;
    .Carousel {
      display: flex;
      height: 100%;
    }
  }
}

.CultureTeams {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 10%;
  justify-content: space-between;
  .TeamInformation {
    position: relative;
    width: 49%;
    .TeamName {
      margin-bottom: 2em;
      white-space: pre-wrap;
      label {
        color: #292929;
        font-family: Pretendard;
        font-size: 4em;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
      }
    }
    .TeamProjects {
      white-space: pre-wrap;
      label {
        color: #000;
        font-family: Pretendard;
        font-size: 2.4em;
        font-style: normal;
        font-weight: 400;
        line-height: 141.667%;
        opacity: 0.3;
      }
    }
    .TeamDescription {
      width: 82%;
      word-break: break-all;
      position: absolute;
      bottom: 0;
      label {
        color: #000;
        font-family: Pretendard;
        font-size: 2.4em;
        font-style: normal;
        font-weight: 400;
        line-height: 141.667%;
      }
      .GoDetails {
        display: flex;
        align-items: center;
        margin-top: 3.2em;
        :hover {
          cursor: pointer;
        }
        img {
          margin-left: 1.2em;
          width: 2em;
          height: 2em;
        }
      }
    }
  }

  .TeamImage {
    width: 49%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
