::-webkit-scrollbar {
	width: 0.1rem;
}

::-webkit-scrollbar-thumb {
	background-color: transparent; /* 스크롤바 썸 색상 */
}

::-webkit-scrollbar-track {
	background-color: transparent; /* 스크롤바 트랙 색상 */
}

.cadb {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	font-size: 0.52083333vw;

	& * {
		word-break: normal;
	}
	&-s1 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		background-image: url('/public/assets/images/product1.png');
		background-position: right;
		background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
		background-repeat: no-repeat;
		position: relative;
		// justify-content: center;
		align-items: center;
		&-button {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 2.08vw;
			position: fixed;
			top: 8.89vh;
			right: 10.41vw;
			width: fit-content;
			z-index: 10;
			.s1-demo {
				color: #fff;
				text-align: center;
				font-family: Pretendard;
				font-size: 1.6em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.75; /* 175% */

				//text-stroke: 1px black;
			}
			.s1-buy {
				display: inline-flex;
				padding: 0.104vw 1.56vw;
				justify-content: center;
				align-items: center;
				gap: 0.52vw;
				border-radius: 0.208vw;
				border: 1px solid var(--Check, #346ec5);
				background: var(--Check, #346ec5);
				color: var(--White, #fff);
				text-align: right;
				font-family: Pretendard;
				font-size: 2em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.4; /* 140% */
			}
		}
		&-text {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 16.48vh;
			.s1-header {
				width: 22.81vw;
				margin-bottom: 1.09vw;
			}
			.s1-body {
				color: #fff;
				text-align: center;
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.416; /* 141.667% */
			}
		}
	}
	&-s2 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;

		position: relative;
		// justify-content: center;
		align-items: center;

		&-image {
			width: 77.91vw;
			position: absolute;
			margin-top: 12.5vh;
		}
		&-text {
			width: 25vw;
			display: flex;
			flex-direction: column;
			margin-left: 67.9vw;
			margin-top: 7.69vh;
			.s2-demo {
				color: var(--Dark-Glay, #4d4f58);

				/* 본문 */
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.416; /* 141.667% */
				margin-bottom: 0.52vw;
			}
			.s2-header {
				color: var(--Black, #000);

				/* 주 헤드 */
				font-family: Pretendard;
				font-size: 5em;
				font-style: normal;
				font-weight: 600;
				line-height: 1.24; /* 124% */
				margin-bottom: 0.52vw;
			}
			.s2-logo {
				width: 17.7vw;
				margin-bottom: 7.9vw;
			}
			.s2-body {
				color: #000;

				/* 본문 */
				font-family: Pretendard;
				font-size: 2.4em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.41;
				opacity: 0.3; /* 141.667% */
			}
		}
	}
	&-s3 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		position: relative;
		// justify-content: center;
		//align-items: center;
		justify-content: center;
		&-cadb {
			margin-bottom: 0.625vw;
			color: var(--Middle-Glay, #a0a0a0);
			margin-left: 18.75vw;

			/* 카테고리 */
			font-family: Pretendard;
			font-size: 3em;
			font-style: normal;
			font-weight: 600;
			line-height: 1.33; /* 133.333% */
		}
		&-header {
			color: var(--Black, #000);
			margin-left: 18.75vw;
			margin-bottom: 1.56vw;
			/* 주 헤드 */
			font-family: Pretendard;
			font-size: 5em;
			font-style: normal;
			font-weight: 600;
			line-height: 1.24; /* 124% */
		}
		&-realtime {
			color: var(--Dark-Glay, #4d4f58);
			margin-left: 18.75vw;
			/* 보조헤드 */
			font-family: Pretendard;
			font-size: 4em;
			font-style: normal;
			font-weight: 600;
			line-height: 1.25; /* 125% */
		}
		&-carousel {
			width: 40.9375vw; //40.9375   66.8
			height: 27.34375vw; //27.34375
			position: relative;
			margin-top: 2.7vw;
			display: flex;
			flex-direction: row;
			margin-left: 19.75vw;

			//background-color: #a0a0a0;
			.s3-mock {
				width: 147.2%;
				position: absolute;
				//left: 14.68vw;
				left: -13.2412995419847%;
				top: -9.142857142857143%;
				z-index: -1;
			}
			.s3-prev {
				width: 1.526717557251908%;
				position: absolute;
				left: -7.633587786259542%;
				top: 45.611428571428571%;
				z-index: 20;
			}
			.s3-next {
				@extend .s3-prev;
				left: auto;
				right: -7.633587786259542%;
			}
			.s3-frame {
				width: 100%;
				height: 100%;
				background-color: black;
				//background-color: red;
				z-index: 2;
				&-mode {
					height: 100%;
					display: flex;
					//transform: translateX(-105%);
					//gap: %;
					flex-direction: row;
					&-slide {
						height: 100%;
						margin-right: 5%;
						opacity: 0.2;
						transition: opacity 0.3s cubic-bezier(0.5, 0, 1, 0.5);
						&-active {
							@extend .s3-frame-mode-slide;
							opacity: 1;
						}
						//margin-right: 3%;
					}
				}
			}
			.s3-mode-slide {
				height: 100%;
				//margin-right: 2%;
			}
		}
		// Carousel.scss
		// Carousel.scss
	}
	&-s4 {
		width: 100%;
		height: 100%;
		padding-top: 52px;
		scroll-snap-align: start;
		display: flex;
		flex-direction: column;
		position: relative;
		// justify-content: center;
		//align-items: center;
		justify-content: center;
		background-color: black;
		padding-left: 18.75vw;
		&-cadb {
			color: var(--Middle-Glay, #a0a0a0);

			/* 카테고리 */
			font-family: Pretendard;
			font-size: 3em;
			font-style: normal;
			font-weight: 600;
			line-height: 1.33; /* 133.333% */
		}
		&-header {
			margin-top: 0.625vw;
			margin-bottom: 1.25vw;
			color: var(--White, #fff);

			/* 주 헤드 */
			font-family: Pretendard;
			font-size: 5em;
			font-style: normal;
			font-weight: 600;
			line-height: 1.24; /* 124% */
		}
		&-descript {
			color: var(--White, #fff);
			width: 49vw;
			/* 본문 */
			font-family: Pretendard;
			font-size: 2.4em;
			font-style: normal;
			font-weight: 400;
			line-height: 1.416; /* 141.667% */
		}
		&-body {
			width: 81.25vw;
			margin-top: 1.34vw;
			height: 24.9vw;
			display: flex;
			flex-direction: row;
			//justify-content: center;
			align-items: center;
			position: relative;

			.s4-button {
				width: 15.45vw;
				height: fit-content;
				display: flex;
				flex-direction: column;
				gap: 0.67vw;
				margin-left: 0;
				&-text {
					color: var(--White, #fff);

					/* 본문 */
					font-family: Pretendard;
					font-size: 2.4em;
					font-style: normal;
					font-weight: 400;
					line-height: 1.416; /* 141.667% */
				}
				&-body {
					width: 15.47vw;
					height: 4.0625vw;
					display: inline-flex;
					flex-direction: row;
					padding: 0.52vw 0.52vw 0.52vw 1.04vw;
					justify-content: center;
					align-items: center;
					gap: 1.25vw;
					border-radius: 0.625vw;

					background: var(--layer-color-background-color, #1b1b21);
					.rm-title {
						color: #fff;

						/* 본문 강조 */
						font-family: Pretendard;
						font-size: 2.4em;
						font-style: normal;
						font-weight: 600;
						line-height: 1.33; /* 133.333% */
					}
					.rm-switch {
						position: relative;
						width: 6.04vw;
						height: 3.02vw;
						flex-shrink: 0;
						border-radius: 0.52vw;
						background-color: #556;
						//background: var(--layer-color-variants-color-unchecked-color, #556);
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: flex-end;
						padding: 0 0.4vw;
						color: var(
							--layer-color-variants-color-blocked-font,
							rgba(255, 255, 255, 0.3)
						);

						transition: 0.3s ease-in-out;
						span {
							display: flex;
							flex-direction: column;
							justify-content: center;
							width: 2.51vw;
							height: 1.61vw;
							text-align: center;
							//							background-color: rebeccapurple;

							/* 버튼 */
							font-family: Pretendard;
							font-size: 2em;
							font-style: normal;
							font-weight: 400;
							line-height: 1.4; /* 140% */
						}
						&-toggle {
							position: absolute;
							margin-top: 0.04vw;
							width: 2.685vw;
							height: 2.685vw;
							border-radius: 0.416vw;
							background: var(--layer-color-white-color, #fff);
							left: 0.167vw;
							transform: translateX(0);
							transition: transform 0.3s ease-in-out;
							//transform: translateX(3.02vw);
						}
						&-active {
							@extend .rm-switch;
							justify-content: flex-start;
							background-color: #00908b;
							color: #fff;
							&-toggle {
								@extend .rm-switch-toggle;
								transform: translateX(3.02vw);
							}
						}
					}
				}
			}

			.s4-rmode {
				position: absolute;
				width: 54.9vw;
				left: 26.25vw;
				top: 0;
				opacity: 0;
				visibility: hidden;
				z-index: 10;
				transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
				&-active {
					@extend .s4-rmode;
					opacity: 1;
					visibility: visible;
				}
				&-off {
					@extend .s4-rmode-active;
					z-index: 0;
					//opacity: 0;
				}
			}
		}
		&-freeze {
			width: fit-content;
			height: 21.1vw;
			margin-top: 5.56vw;
			display: flex;
			flex-direction: row;
			align-items: center;

			position: relative;
			.s4-fmode {
				position: absolute;
				width: 46.5vw;
				top: -2vw;
				left: -3.5vw;
			}
			.s4-fmodeb {
				margin-left: 35.55vw;
				width: 17.9vw;
			}
			.s4-fmodec {
				width: 20.78vw;
				margin-left: 1.82vw;
			}
		}
		&-review {
			width: fit-content;
			height: fit-content;
			margin-top: 2.03vw;
			display: flex;
			flex-direction: row;
			align-items: center;

			position: relative;
			.s4-rvmode {
				position: relative;
				margin-left: 7.7vw;
				width: 44.9vw;
			}
		}
		&-setting {
			width: fit-content;
			height: 14.17vw;
			margin-top: 7.7vw;
			display: flex;
			flex-direction: row;
			align-items: center;

			position: relative;
			.s4-hdmi {
				width: 16.98vw;
				margin-right: 7.08vw;
			}
			.s4-box {
				width: 18.49vw;
			}
			.s4-smode {
				width: 25.3125vw;
				margin-top: 2.5vw;
			}
		}
	}
}
@media (orientation: portrait) {
	.cadb {
		position: relative;

		width: 100vw;
		height: fit-content;

		overflow-x: hidden;
		overflow-y: auto;
		scroll-snap-type: none;
		scroll-behavior: smooth;
		align-items: normal;
		font-size: 2.5445292620865vw;
		&-s1 {
			background-image: url('/public/assets/images/cadbBanner_m.png');
			height: 76.4vw;
			padding-top: 0;
			&-button {
				display: none;
			}
			&-text {
				margin-top: 41.98vw;

				.s1-header {
					width: 36.13vw;
				}
				.s1-body {
					margin-top: 1vw;
					font-size: 1.1em;
				}
			}
		}
		&-s2 {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			padding-top: 0;
			.s2-demo,
			.s2-logo,
			.s2-body {
				display: none;
			}
			&-text {
				width: fit-content;
				margin-left: 0;

				.s2-header {
					color: #000;
					text-align: center;
					font-feature-settings: 'clig' off, 'liga' off;

					/* Mobile/주헤드 */
					font-family: Pretendard;
					font-size: 1.9em;
					font-style: normal;
					font-weight: 600;
					line-height: 1.21; /* 121.053% */
				}
			}
			&-image {
				width: 97.45vw;
				margin-left: 10vw;
				margin-top: 2.54vw;
				position: relative;
			}
		}
		&-s3 {
			height: fit-content;
			align-items: center;
			&-cadb {
				display: none;
			}
			&-header {
				color: var(--Black, #000);
				margin-left: 0;
				text-align: center;
				font-feature-settings: 'clig' off, 'liga' off;

				/* Mobile/주헤드 */
				font-family: Pretendard;
				font-size: 1.9em;
				font-style: normal;
				font-weight: 600;
				line-height: 1.21053; /* 121.053% */
			}
			&-realtime {
				margin-left: 0;
				color: var(--Dark-Glay, #4d4f58);
				text-align: center;
				font-feature-settings: 'clig' off, 'liga' off;

				/* Mobile/본문강조 */
				font-family: Pretendard;
				font-size: 1.4em;
				font-style: normal;
				font-weight: 600;
				line-height: 1.35714; /* 135.714% */
			}
			&-carousel {
				margin-left: 0;
				margin-top: 6.23vw;
				margin-bottom: 15.52vw;
				width: 52vw;
				height: 34.736vw;
			}
		}
		&-s4 {
			padding-left: 8.65vw;
			padding-top: 15.7vw;
			&-cadb {
				display: none;
			}
			&-header {
				color: var(--White-idle, #fff);
				margin-bottom: 2.54vw;
				font-feature-settings: 'clig' off, 'liga' off;

				/* Mobile/주헤드 */
				font-family: Pretendard;
				font-size: 1.9em;
				font-style: normal;
				font-weight: 600;
				line-height: 1.21053; /* 121.053% */
			}
			&-descript {
				width: 83.3vw;
				color: var(--White, #fff);
				font-feature-settings: 'clig' off, 'liga' off;

				/* Mobile/본문 */
				font-family: Pretendard;
				font-size: 1.1em;
				font-style: normal;
				font-weight: 400;
				line-height: 1.36364; /* 136.364% */
			}
			&-body {
				flex-direction: column;
				height: 81.3vw;
				align-items: normal;
				position: relative;
				.s4-button {
					margin-left: 10vw;
					margin-top: 7vw;
					transform: scale(2.3);
					position: relative;
					&-text {
						display: none;
					}
					&-body {
						.rm-title {
							color: #fff;
							font-feature-settings: 'clig' off, 'liga' off;

							/* Mobile/본문 */
							font-family: Pretendard;
							font-size: 0.5em;
							font-style: normal;
							font-weight: 400;
							line-height: 1.36; /* 136.364% */
						}
						.rm-switch {
							font-size: 0.25em;
						}
					}
				}
				.s4-rmode {
					left: 0;
					width: 116.8vw;
					margin-left: -8.65vw;
					margin-top: 18vw;
					&-active {
						opacity: 1;
						visibility: visible;
					}
					&-off {
						z-index: 0;
						//opacity: 0;
					}
				}
			}
			&-freeze {
				width: 100%;
				height: 61.3vw;
				align-items: normal;
				.s4-fmode {
					width: 100.8vw;
					left: -8vw;
					top: 0;
				}
				.s4-fmodeb {
					position: absolute;
					margin-left: 0;
					right: 5.6vw;
					top: 8.14vw;
					width: 28.75vw;
				}
				.s4-fmodec {
					position: absolute;
					width: 33.33vw;
					margin-left: 0;
					right: 5.6vw;
					top: 33.8vw;
				}
			}
			&-review {
				position: relative;
				height: 65.8vw;
				.s4-rvmode {
					width: 116.8vw;
					position: absolute;
					top: 5vw;
					margin-left: -8.65vw;
				}
			}
			&-setting {
				height: 30.8vw;
				.s4-hdmi {
					width: 49.6vw;
				}
				.s4-box {
					width: 27vw;
				}
				.s4-smode {
					display: none;
				}
			}
		}
	}
}
