.scroll {
  overflow: hidden;
}

.Orca::-webkit-scrollbar {
  width: 0rem; /* 스크롤바 너비를 최소로 줄임 */
}

.Orca {
  height: 100vh;
  font-size: 0.5208333333333vw; // 10px 기준 하위 항목 1em
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  section {
    display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    scroll-snap-align: start;
    // 추후 상단바의 높이만큼 동적조절 필요
    padding-top: 52px;
    background-color: white;
    article {
      position: relative;
      flex-basis: 62.5%;
      aspect-ratio: 1200/760;
    }
  }
}

.OrcaMain {
  flex-direction: column;
  justify-content: normal !important;
  background-image: url("/public/assets/images/ORCA_mainbkg.png");
  background-size: cover; /* 이미지가 컨테이너에 맞게 조절됨 */
  background-position: center center;
  position: relative;
  .VisitWebsite {
    position: fixed;
    top: 8.89vh;
    right: 10.41vw;
    width: fit-content;
    z-index: 10;
    display: inline-flex;
    padding: 0.104vw 1.56vw;
    justify-content: center;
    align-items: center;
    gap: 0.52vw;
    border-radius: 0.208vw;
    border: 1px solid var(--Check, #346ec5);
    background: var(--Check, #346ec5);
    color: var(--White, #fff);
    text-align: right;
    font-family: Pretendard;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    &:hover {
      cursor: pointer;
    }
  }
  .OrcaMainDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16.48vh;
    .header {
      width: 22.4em;
      margin-bottom: 3.9em;
    }
    .body {
      color: #fff;
      text-align: center;
      font-family: Pretendard;
      font-size: 2.4em;
      font-style: normal;
      font-weight: 400;
      line-height: 141.667%;
    }
  }
}

.OrcaIntroduce {
  background-color: #000 !important;
  position: relative;
  .WorldMap {
    position: absolute;
    top: 8vw;
    left: 2vw;
    width: 1520px;
    opacity: 0.5;
  }
  .Description {
    position: absolute;
    top: 34vh;
    left: 61.25vw;
    .SuggestPhrase {
      margin-top: 1em;
      width: 38.4em;
      span {
        color: var(--Middle-Glay, #a0a0a0);
        font-family: Pretendard;
        font-size: 2.4em;
        font-style: normal;
        font-weight: 400;
        line-height: 141.667%;
      }
    }
    .Title {
      width: 41.7em;
      p {
        color: var(--White, #fff);
        font-family: Pretendard;
        font-size: 5em;
        font-style: normal;
        font-weight: 600;
        line-height: 124%;
      }
    }
    .Goals {
      margin-top: 7.2em;
      width: 38.4em;
      p {
        color: var(--White, #fff);
        font-family: Pretendard;
        font-size: 2.4em;
        font-style: normal;
        font-weight: 400;
        line-height: 141.667%;
      }
    }
  }
}

.OrcaDemo {
  width: 100%;
  height: 100%;
  padding-top: 52px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  .OrcaDemoDisplay {
    margin-top: 3.51vh;
    margin-left: 5.93vw;
    position: relative;
    width: 48vw;
    height: 42.1875vw;
    .ScrollSentence {
      position: absolute;
      color: var(--Dark-Glay, #4d4f58);
      top: -1.635vw;
      left: 15vw;
      font-family: Pretendard;
      font-size: 2.4em;
      font-style: normal;
      font-weight: 400;
      line-height: 141.667%;
    }
    .DemoDevice {
      width: 100%;
      position: absolute;
    }
    .ComputerFrame {
      width: 100%;
      height: 62.445%;
      position: relative;
      margin-top: 1.94vw;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;

      .Contents {
        width: 98%;
        z-index: 10;
      }
    }
    .PhoneScreen {
      bottom: 0vw;
      right: 2.98vw;
      position: absolute;
      width: 11vw;
      z-index: 20;
    }
  }
  .OrcaDemoText {
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-left: 1.98vw;
    margin-top: 8vh;
    .bemaworks {
      color: var(--Dark-Glay, #4d4f58);
      font-family: Pretendard;
      font-size: 2.4em;
      font-style: normal;
      font-weight: 400;
      line-height: 141.667%;
      margin-bottom: 0.52vw;
    }
    .Description {
      color: var(--Black, #000);
      font-family: Pretendard;
      font-size: 5em;
      font-style: normal;
      font-weight: 600;
      line-height: 124%;
      margin-bottom: 2.1vw;
    }
    .Logo {
      width: 17.2em;
    }
  }
}

.OrcaVision {
  background-image: url("/public/assets/images/ORCA_vision.png");
  position: relative;
  .OrcaVisionContents {
    position: absolute;
    left: 97.2em;
    top: 27.5em;
    width: 30%;
    .ContentsTitle {
      span {
        color: var(--White-idle, #fff);
        font-family: Pretendard;
        font-size: 5em;
        font-style: normal;
        font-weight: 600;
        line-height: 124%;
      }
    }
    .ContentsDescriptsion {
      margin-top: 2.4em;
      margin-bottom: 4.4em;
      p {
        color: var(--White-idle, #fff);
        font-family: Pretendard;
        font-size: 2.4em;
        font-style: normal;
        font-weight: 400;
        line-height: 141.667%;
      }
    }
    .VisitWebsite {
      width: fit-content;
      display: inline-flex;
      padding: 0.104vw 1.56vw;
      justify-content: center;
      align-items: center;
      gap: 0.52vw;
      border-radius: 0.208vw;
      border: 1px solid var(--Check, #346ec5);
      background: var(--Check, #346ec5);
      color: var(--White, #fff);
      text-align: right;
      font-family: Pretendard;
      font-size: 2em;
      font-style: normal;
      font-weight: 400;
      line-height: 1.4; /* 140% */
      &:hover {
        cursor: pointer;
      }
    }
  }
}
