.Recruitment {
  font-size: 0.5208333333333vw; // 10px 기준 하위 항목 1em
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: calc(52px + 10em);
    background-color: white;
  }
  article {
    position: relative;
    width: 62.5%;
  }
}

.RecruitmentHeader {
  .PageName {
    margin-bottom: 1.2em;
    label {
      color: var(--Middle-Glay, #a0a0a0);
      font-family: Pretendard;
      font-size: 3em;
      font-style: normal;
      font-weight: 600;
      line-height: 133.333%;
    }
  }
  .HeaderTitle {
    margin-bottom: 2.4em;
    label {
      color: var(--Black, #000);
      font-family: Pretendard;
      font-size: 5em;
      font-style: normal;
      font-weight: 600;
      line-height: 124%;
    }
  }
  .HeaderDescription {
    label {
      color: var(--Dark-Glay, #4d4f58);
      font-family: Pretendard;
      font-size: 2.4em;
      font-style: normal;
      font-weight: 400;
      line-height: 141.667%;
    }
  }
}

.RecruitmentContents {
  display: flex;
  margin: 4em 0em;
  .buttonBar {
    display: flex;
    flex-direction: column;
    width: 19.5%;
    margin-right: 2%;
    .navButton {
      display: flex;
      width: 18em;
      padding: 0.2em 3em;
      justify-content: center;
      align-items: center;
      // flex-shrink: 0;
      margin: 0.7em 0em 2.5em 0em;
      border-radius: 0.4em;
      border: 0.1em solid var(--Check, #346ec5);
      background: var(--White, #fff);

      span {
        color: var(--Check, #346ec5);
        text-align: right;
        font-family: Pretendard;
        font-size: 2em;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
      }
      &:hover {
        cursor: pointer;
      }
      &.selected {
        background: var(--Check, #346ec5);
        span {
          color: var(--White, #fff);
        }
      }
    }
  }

  .ContentsArticle {
    width: 78.5%;
    .RecriutmentApply {
      position: relative;
      width: 69em;
      .Name {
        display: flex;
        justify-content: space-between;
        .FirstName {
          width: 28.2em;
        }
        .LastName {
          width: 38.4em;
        }
      }

      .PrivacyPoilcyAgree {
        display: flex;
        .Test {
          width: 2em;
          height: 2em;
          margin-top: 0.4em;

          margin-right: 0.8em;
          input {
            width: 100%;
            height: 100%;
          }
        }
        .PrivacyPoilcyDescription {
          label {
            color: var(--Middle-Glay, #a0a0a0);
            font-family: Pretendard;
            font-size: 1.6em;
            font-style: normal;
            font-weight: 400;
            line-height: 175%;
          }
        }
      }
      .InquireSubmit {
        font-size: 0.5208333333333vw; // 10px 기준 하위 항목 1em
        display: flex;
        width: 18em;
        padding: 0.2em 3em;
        justify-content: center;
        align-items: center;
        // flex-shrink: 0;
        margin: 7.9em 0em 2.5em 0em;
        border-radius: 0.4em;
        border: 0.1em solid var(--Check, #346ec5);
        background: var(--White, #fff);

        span {
          color: var(--Check, #346ec5);
          text-align: right;
          font-family: Pretendard;
          font-size: 2em;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
        &:hover {
          cursor: pointer;
        }
        &.isActive {
          background: var(--Check, #346ec5);
          span {
            color: var(--White, #fff);
          }
        }
      }
    }
  }

  .FormSpace {
    margin-bottom: 2em;
    .FormName {
      display: flex;
      position: relative;
      label {
        color: #000;
        font-family: Pretendard;
        font-size: 2.4em;
        font-style: normal;
        font-weight: 600;
        line-height: 133.333%;
      }
      img {
        width: 0.8em;
        height: 0.8em;
        margin-left: 0.2em;
      }
      div {
        margin-left: 1em;

        label {
          color: #9c1111;
          font-family: Pretendard;
          font-size: 1.6em;
          font-style: normal;
          font-weight: 400;
          line-height: 200%;
        }
      }
    }

    .InputCategory {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      padding: 1.2em 1.3em;
      margin: 2em 0em;
      // height: 5.2em;
      border: 0.1em solid var(--Middle-Glay, #a0a0a0);
      input {
        // position: absolute;
        font-family: Pretendard;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
      }
      img {
        width: 1.6em;
        height: 1em;
        transition: 0.1s linear;
        &.isOpen {
          transform: rotate(180deg);
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .CategorySelectBox {
      position: absolute;
      top: 10.7em;
      width: 100%;
      height: fit-content;
      background-color: white;
      z-index: 10;
      li {
        height: 5.2em;
        padding: 1.2em 1.3em;
        border-width: 0em 0.1em 0.1em 0.1em;
        border-color: var(--Middle-Glay, #a0a0a0);
        border-style: solid;
        span {
          font-family: Pretendard;
          font-size: 1.6em;
          font-style: normal;
          font-weight: 400;
          line-height: 175%;
        }
      }
      :hover {
        cursor: pointer;
      }
    }
    .InputFormBox {
      padding: 1.2em 1.3em;
      margin: 2em 0em;
      // height: 5.2em;
      border: 0.1em solid var(--Middle-Glay, #a0a0a0);
      &.text {
        height: 30em;
      }
      input {
        // height: 3.2em;
        width: 100%;
        font-family: Pretendard;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
      }
      textarea {
        width: 100%;
        height: 100%;
        resize: none;
        font-family: Pretendard;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 400;
        line-height: 175%;
      }
    }
  }
}
